<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>送信が完了しました</h2>
      <p></p>
      <p>内容は以下の通りです。</p>      
      <h3>[タイトル]</h3>
      <p><%= @title %></p>
      <h3>[本文]</h3>
      <p><%= @body %></p>
    </div>
  </div>
</div>